    <!-- <footer style="color: red; background-color: black;">
        sfd
        <div class="container">
            <hr>
            <div class="text-center center-block">
            </div>
            <hr>
        </div>
    </footer> -->
    <div class="panel-footer text-center">
        <div class="footernote">Hover to see footer</div>
        <div class=".maincontent">
            <br>
            <a href="https://github.com/DivyanshArya23"><i id="social-gh" class="fab fa-github fa-3x social"></i></a>
            <a href="mailto:divyansh.arya_cs17@gla.ac.in"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>