    <!-- <footer style="color: red; background-color: black;">
        sfd
        <div class="container">
            <hr>
            <div class="text-center center-block">
            </div>
            <hr>
        </div>
    </footer> -->
    <div class="panel-footer text-center">
        <a href="https://github.com/DivyanshArya23"><i class="fab fa-github fa-3x social"></i></a>
        <a href="mailto:divyansh.arya_cs17@gla.ac.in"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
</body>
</html>