<%- include("./partials/header.ejs")%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>View All User ID here</h1>
        </div>
    </header> 
    <div class="row text-center">
        <% Users.forEach(function(user){ %>
            <div class="col-md-3 col-sm-6" style="display: flex;flex-wrap: wrap;">
                <div class="thumbnail">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
                    <div class="caption">
                        <h4><%= user.username %></h4>
                    </div>
                    <a class="btn btn-sm btn-danger" href="delete/<%=user._id%>">Delete</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>